*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
    list-style: none;
    text-decoration: none;
}
header{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

header{
    margin-top: -2rem;
}
.navlist{
    display: flex;
    margin-top: -23px;
}
.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}
#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.hero2{
    padding: 20px;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: black;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.hero-text2{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-left: 100px;
    font-weight: bold;
}
.bane img{ 
    width: 530px;
    height: auto;
    margin-top: 15px;
    
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
}

.actor {
    justify-content: center;
    margin: 0 60px;
    margin-top: 100px;
}
.actor p{
    text-align: center;
}
.actor p a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.actor img {
    margin: 0;
    width: 150px;
    height: auto;
    border-radius: 50%;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: black;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
}
.hero-text h5{
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-bottom: 0px;
}
.hero-text h1{
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
    font-weight: bold;
}
.hero-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 20px;
}
.hero-img img{
    width: 550px;
    height: auto;
}
.hero-text a{
    display: inline-block;
    color: white;
    background: #1f1a1a;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.hero-text a:hover{
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}
footer {
    background-color: black;
    width: 100%;
}
.content{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.content a{
    text-align: center;
    margin-top: 10px;
    display: block;
    font-size: 24px;
    color: white;
    transition: all .50s ease;    
}

.content :hover{
    color: #465154;
    transform: translateY(-5px); 
}
#footer_copyright {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    color: white;
}
hr { 
    border-color: #465154;
}
@media (max-width: 2200px){
    header{
        width: 100%;
        height: 200px;
    }
    .bane img{
        width:  950px;
        height: auto;
    }
    .hero-text2{
        font-size: 25px;
        margin-left: 200px;
    }
    .icons i{
    margin-left: -90px;
    font-size: 40px;
    margin-top: 50%;
}

}
@media (max-width: 1940px){
    header{
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .icons i{
        margin-left: 30px;
        margin-top: 20%;
    }
    .hero-text2{
        font-size: 23px;
    }
}
@media (max-width: 1824px){
    header{
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .icons i{
        margin-left: 30px;
        margin-top: 20%;
    }
    .hero-text2{
        font-size: 20px;
    }
}
@media (max-width: 1690px){
    header{
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .icons i{
        margin-left: 30px;
        margin-top: 20%;
    }
    .hero-text2{
        font-size: 18px;
    }
}
@media (max-width: 1580px){
    header{
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .icons i{
        margin-left: 30px;
        margin-top: 20%;
    }
    .bane img{
        width:  700px;
        height: auto;
    }
    .hero-text2{
        font-size: 20px;
    }
}
@media (max-width: 1535px){
    header{
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .bane img{
        width:  700px;
        height: auto;
    }
}
@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
    .bane img{
        width:  500px;
        height: auto;
    }
    .hero-text2{
        margin-left: 100px;
        font-size: 15px;
    }
    .icons i{
        margin-left: -5px;
        font-size: 20px;
    }

}
@media (max-width: 1340px){
    .hero-img img{
        margin: 70px 0 100px;
        width: 700px;
        height: auto;
    }
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .hero-text h5{
        margin-bottom: 0px;
    }
    .bane img{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text{
        padding-top: 115px;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img{
        width:  510px;
        height: auto;
    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .hero2{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .bane img{
        margin-right: 23%;
        margin-left: 23%;
        width:  510px;
        height: auto;
    }
    .hero-text2{
        margin-right: 150px;
        margin-left: 150px;
        padding-top: 115px;
        font-size: 15px;
    }
    .icons{
        display: none;
    }
}
@media (max-width: 990px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: fixed;
        top: 2%;
        right: -100%;
        width: 300px;
        height: 100%;
        background: #1f1a1a;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        display: block;
        margin:  20px 0;
        margin-left: 0;
    }
    .navlist.open{
        right: 0;
    }
    .bane img{ 
        display: flex;
        position: relative;
        width: 450px;
        height: auto;
        margin-left: 20%;
    }
    .hero-img img{ 
        margin-left: 2%;
        display: flex;
        position: relative;
        width: 700px;
        height: auto;
    }
    .hero-text2 p{
        font-size: 20px;
    }
}
@media (max-width: 680px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
    .bane img{
        width:  100%;
        height: auto;
    }
}
@media (max-width: 500px){
    .hero-img img{ 
        margin-left: 0;
    }    
    .bane img{
        width:  70%;
        height: auto;
        margin-left: 8vh;
    }
    .hero-text2 {
        margin: 0;
        margin-left: 0;
        line-height: 1.5;
    }
    .hero-text2 p{
        font-size: 15px;
    }
}    